@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
  }
}

body {
  background: var(--background);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.event-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.event-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}
