@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
  }
}

@media screen and (min-width: 370px) {
  html {
    font-size: calc(100vw * (16 / 370));
  }
}

body {
  background: var(--background);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.event-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.event-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
  transition: all 0.2s ease;
}

#top-line,
#middle-line,
#bottom-line {
  stroke: #191818;
  transition: all 0.5s ease;
}
.open#top-line,
.open#middle-line,
.open#bottom-line {
  stroke: #e7d8dd;
}
.open#top-line {
  transform-origin: top left;
  transform: translate(8%, 5%) rotate(47deg);
}
.open#middle-line {
  opacity: 0;
}
.open#bottom-line {
  transform-origin: bottom left;
  transform: translate(9%, 0%) rotate(-50deg);
}

.overlay {
  position: fixed;
  top: 0;
  height: 100%;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.overlay.visible {
  opacity: 1;
  visibility: visible;
}
